<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mbe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mbe.Properties.Settings>
            <setting name="PathBoardFont" serializeAs="String">
                <value>mbeboardfont.dat</value>
            </setting>
            <setting name="UseEmbeddedFont" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomColorPTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPLC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorSTC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorCMP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorSOL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorSTS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPLS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorDIM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorDRL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorDOC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GridPitch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GridDisplayEvery" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DrcPatternGap" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="DrcErrorCheckLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CustomColorOriginMark" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorGridOrigin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorGrid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorSnapMark" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPinNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorCursor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorBgOutside" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorInputErr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="PrintLeftMargin" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PrintBottomMargin" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExpBmpLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExpBmpBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExpBmpWidth" serializeAs="String">
                <value>3000000</value>
            </setting>
            <setting name="ExpBmpHeight" serializeAs="String">
                <value>3000000</value>
            </setting>
            <setting name="ExpBmpResolution" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CustomColorActiveSnapMark" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorBg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultGridInfoString" serializeAs="String">
                <value />
            </setting>
            <setting name="MyStandardGridString" serializeAs="String">
                <value />
            </setting>
            <setting name="MyStandardLineString" serializeAs="String">
                <value />
            </setting>
            <setting name="MyStandardHoleString" serializeAs="String">
                <value />
            </setting>
            <setting name="MyStandardPthString" serializeAs="String">
                <value />
            </setting>
            <setting name="MyStandardPadString" serializeAs="String">
                <value />
            </setting>
            <setting name="MyStandardArcString" serializeAs="String">
                <value />
            </setting>
            <setting name="MyStandardTextString" serializeAs="String">
                <value />
            </setting>
            <setting name="MyStandardPolygonString" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColorL2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorL3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorMMC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorMMS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GerberExportLayer" serializeAs="String">
                <value>18446744073709551615</value>
            </setting>
            <setting name="MyStandardLibString" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolMarkFile" serializeAs="String">
                <value>toolMark.mb3</value>
            </setting>
            <setting name="Print2xMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CenterPunchMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolMarkPrint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyStandardPrintPageLayerString" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintCurrentView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomColorPrintPTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPrintPLC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPrintSTC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPrintCMP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPrintSOL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPrintSTS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPrintPLS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPrintDIM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPrintDRL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPrintDOC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPrintL2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPrintL3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPrintMMC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomColorPrintMMS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintColorMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageColorMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainTitleText" serializeAs="String">
                <value />
            </setting>
            <setting name="ListFileUseLocalEncoding" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PrintHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeaderText" serializeAs="String">
                <value />
            </setting>
            <setting name="ForceClipboardTextFormat" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PrintMirrorMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasteObjectAtCursor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SCKeyEditFlip" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyEditComponenting" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyEditUncomponenting" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyEditProperty" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyUpdateFillPolygon" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyViewPolygonFrameMode" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyToolSelector" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyToolConnectionCheck" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyToolMeasure" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyToolHole" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyToolPTH" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyToolPad" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyToolLine" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyToolArc" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyToolText" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyToolPolygon" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyToolComponent" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeySetGridOrigin" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyResetGridOrigin" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="OneKeyToolSelection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SCKeyEditBulkHole" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyEditBulkPTH" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyEditBulkPad" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyEditBulkLine" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyEditBulkText" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyEditBulkPolygon" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="SCKeyEditBulkLayer" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="InhibitHatchBrushPolygonframe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DrawTextSolidly" serializeAs="String">
                <value>0</value>
            </setting>
        </mbe.Properties.Settings>
    </userSettings>
</configuration>